<% layout("/layouts/boilerplate.ejs") %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    text-align: center;
    margin-top: 1rem;
    margin-right: 2.5rem;
    opacity: 0.7;
    
  }
  .icon {
    font-size: larger;
    color: #fe424d;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .tax-info{
    display: none;
  }
</style>

<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire icon"></i></div>
    Trending
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed icon"></i></div>
    Rooms
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-city icon"></i></div>
    Iconic Cities
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain icon"></i></div>
    Mountains
  </div>

  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome icon"></i></div>
    Castles
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-person-swimming icon"></i></div>
    Amazing Pools
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-campground icon"></i></div>
    Camping
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-cow icon"></i></div>
    Farms
  </div>

  <div class="filter">
    <div><i class="fa-regular fa-snowflake icon"></i></div>
    Arctic
  </div>

  <div class="tax-toggle border border-danger rounded p-2 mt-2 ms-auto">
    <div class="form-check-reverse form-switch my-2 ">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        ><b>Display total after taxes</b></label
      >
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 mb-3">
  <% for(let listing of allListings){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_img"
        style="height: 20rem"
      />

      <div class="card-img-overlay"></div>

      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %></b> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info"> &nbsp;&nbsp;+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display !="inline"){
        info.style.display="inline";
      }
      else{
      info.style.display="none";
      }
    }
  });
</script>
